In [1]:
import numpy as np
import pandas as pd
import re

from collections import Counter
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedKFold

%matplotlib inline
# %pylab inline

In [29]:
train = pd.read_csv('dataset/train.csv')
test = pd.read_csv('dataset/test.csv')

In [3]:
def transf(valor):
        if valor == 'female':
            return 1
        else:
            return 0

train['Sex'] = train['Sex'].map(transf)
test['Sex'] = test['Sex'].map(transf)

In [4]:
media = np.int(train['Age'].mean())
train['Age'] = train['Age'].fillna(media)
test['Age'] = test['Age'].fillna(media)

In [30]:
train['Ticket'] = train['Ticket'].str.replace(r'\D', '')
train['Ticket'] = pd.to_numeric(train['Ticket'])

In [5]:
vari = ['Sex', 'Age', 'SibSp', 'Parch', 'Ticket']
x = train[vari]
y = train['Survived']
x = x.fillna(-1)
y = y.fillna(-1)

In [7]:
lista = train['Ticket']

contador = Counter(lista)

repetidos = [
    item for item, quantidade in contador.items() 
        if quantidade > 1
]

quantidade_repetidos = len(repetidos)

print(f'Há {quantidade_repetidos} números repetidos na lista')

Há 134 números repetidos na lista

In [41]:
df1 = train.set_index('Ticket')
d = df1[['Survived', 'Pclass', 'SibSp', 'Parch', 'Sex','Age', 'Name']].loc[repetidos]
d.rename(columns = {'SibSp':'Numero irmaos', 'Parch': 'Filhos a bordo'})

,Survived,Pclass,Numero irmaos,Filhos a bordo,Sex,Age,Name
Ticket,,,,,,,
113803.0,1,1,1,0,female,35.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)"
113803.0,0,1,1,0,male,37.0,"Futrelle, Mr. Jacques Heath"
349909.0,0,3,3,1,male,2.0,"Palsson, Master. Gosta Leonard"
349909.0,0,3,3,1,female,8.0,"Palsson, Miss. Torborg Danira"
349909.0,0,3,3,1,female,3.0,"Palsson, Miss. Stina Viola"
349909.0,0,3,0,4,female,29.0,"Palsson, Mrs. Nils (Alma Cornelia Berglund)"
347742.0,1,3,0,2,female,27.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)"
347742.0,1,3,1,1,female,1.0,"Johnson, Miss. Eleanor Ileen"
347742.0,1,3,1,1,male,4.0,"Johnson, Master. Harold Theodor"
237736.0,1,2,1,0,female,14.0,"Nasser, Mrs. Nicholas (Adele Achem)"
237736.0,0,2,1,0,male,32.5,"Nasser, Mr. Nicholas"
9549.0,1,3,1,1,female,4.0,"Sandstrom, Miss. Marguerite Rut"
9549.0,1,3,0,2,female,24.0,"Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengt..."
347082.0,0,3,1,5,male,39.0,"Andersson, Mr. Anders Johan"
347082.0,0,3,4,2,female,2.0,"Andersson, Miss. Ellis Anna Maria"
347082.0,0,3,4,2,female,9.0,"Andersson, Miss. Ingeborg Constanzia"
347082.0,0,3,4,2,female,11.0,"Andersson, Miss. Sigrid Elisabeth"
347082.0,0,3,1,5,female,39.0,"Andersson, Mrs. Anders Johan (Alfrida Konstant..."
347082.0,0,3,4,2,female,6.0,"Andersson, Miss. Ebba Iris Alfrida"
347082.0,0,3,4,2,male,4.0,"Andersson, Master. Sigvard Harald Elias"
382652.0,0,3,4,1,male,2.0,"Rice, Master. Eugene"
382652.0,0,3,4,1,male,4.0,"Rice, Master. Arthur"
382652.0,0,3,4,1,male,7.0,"Rice, Master. Eric"
382652.0,0,3,4,1,male,8.0,"Rice, Master. George Hugh"
382652.0,0,3,0,5,female,39.0,"Rice, Mrs. William (Margaret Norton)"
239865.0,0,2,0,0,male,35.0,"Fynney, Mr. Joseph J"
239865.0,0,2,0,0,male,16.0,"Gaskell, Mr. Alfred"
347077.0,1,3,1,5,female,38.0,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia..."
347077.0,0,3,4,2,male,9.0,"Asplund, Master. Clarence Gustaf Hugo"
347077.0,1,3,4,2,female,5.0,"Asplund, Miss. Lillian Gertrud"
...,...,...,...,...,...,...,...
358585.0,0,3,0,0,male,19.0,"Patchett, Mr. George"
358585.0,0,3,0,0,male,NaN,"Garfirth, Mr. John"
248727.0,1,2,0,0,female,NaN,"Leitch, Miss. Jessie Wills"
248727.0,1,2,0,1,female,6.0,"Harper, Miss. Annie Jessie ""Nina"""
248727.0,0,2,0,1,male,28.0,"Harper, Rev. John"
220845.0,1,2,1,2,female,24.0,"Herman, Miss. Alice"
220845.0,1,2,1,2,female,48.0,"Herman, Mrs. Samuel (Jane Laver)"
2659.0,0,3,1,0,male,27.0,"Yasbeck, Mr. Antoni"
2659.0,1,3,1,0,female,15.0,"Yasbeck, Mrs. Antoni (Selini Alexander)"
54636.0,0,3,0,0,male,21.0,"Bowen, Mr. David John ""Dai"""
54636.0,0,3,0,0,male,28.5,"Williams, Mr. Leslie"
19996.0,1,1,1,0,female,NaN,"Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)"
19996.0,1,1,1,0,male,48.0,"Taylor, Mr. Elmer Zebley"
29750.0,1,2,1,1,female,40.0,"Brown, Mrs. Thomas William Solomon (Elizabeth ..."
29750.0,0,2,1,1,male,60.0,"Brown, Mr. Thomas William Solomon"
24160.0,1,1,0,1,female,15.0,"Madill, Miss. Georgette Alexandra"
24160.0,1,1,0,0,female,29.0,"Allen, Miss. Elisabeth Walton"
24160.0,1,1,0,1,female,43.0,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc..."
250647.0,0,2,0,0,male,52.0,"Greenberg, Mr. Samuel"
250647.0,0,2,0,0,male,34.0,"Ponesell, Mr. Martin"
113806.0,1,1,1,0,male,27.0,"Chambers, Mr. Norman Campbell"
113806.0,1,1,1,0,female,33.0,"Chambers, Mrs. Norman Campbell (Bertha Griggs)"
392096.0,1,3,0,1,male,6.0,"Moor, Master. Meier"
392096.0,1,3,0,1,female,27.0,"Moor, Mrs. (Beila)"
3.0,0,2,0,0,female,57.0,"Mack, Mrs. (Mary)"
3.0,0,2,0,0,male,16.0,"Mudd, Mr. Thomas Charles"
6607.0,0,3,1,2,male,NaN,"Johnston, Mr. Andrew G"
6607.0,0,3,1,2,female,NaN,"Johnston, Miss. Catherine Helen ""Carrie"""
2079.0,0,2,1,1,male,31.0,"Mallet, Mr. Albert"
2079.0,1,2,0,2,male,1.0,"Mallet, Master. Andre"

In [22]:
resul = []

kf = RepeatedKFold(n_splits=2, n_repeats=10, random_state=10)

for linhas_treino, linhas_test in kf.split(x):

    x_treino, x_valid = x.iloc[linhas_treino], x.iloc[linhas_test]
    y_treino, y_valid = y.iloc[linhas_treino], y.iloc[linhas_test]

    modelo = DecisionTreeClassifier(max_depth=4)
    modelo.fit(x_treino, y_treino)

    p = modelo.predict(x_valid)

    acc = np.mean(y_valid == p)
    
    resul.append(acc)
    print("Acuracia: ", acc)

Acuracia:  0.8183856502242153
Acuracia:  0.7707865168539326
Acuracia:  0.8161434977578476
Acuracia:  0.7685393258426966
Acuracia:  0.8026905829596412
Acuracia:  0.797752808988764
Acuracia:  0.7937219730941704
Acuracia:  0.8
Acuracia:  0.8071748878923767
Acuracia:  0.8112359550561797
Acuracia:  0.7937219730941704
Acuracia:  0.8179775280898877
Acuracia:  0.8318385650224215
Acuracia:  0.7640449438202247
Acuracia:  0.8139013452914798
Acuracia:  0.7842696629213484
Acuracia:  0.8228699551569507
Acuracia:  0.7775280898876404
Acuracia:  0.8004484304932735
Acuracia:  0.802247191011236

In [23]:
np.mean(resul)

0.7997639441729228

In [ ]:
x_valid_check = train.iloc[linhas_test].copy()
x_valid_check['p'] = p
x_valid_check[['Survived', 'p']].head()

In [ ]:
modelo.fit(x,y)

In [ ]:
p_class = modelo.predict(test[vari].fillna(-1))

In [ ]:
tree_sub = pd.Series(p_class, index= test['PassengerId'], name='Survived')
tree_sub.to_csv("modelo_dectree1.csv", header=True)