In [1]:
import numpy as np
import pandas as pd
import re

from collections import Counter
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedKFold

%matplotlib inline
# %pylab inline

In [29]:
train = pd.read_csv('dataset/train.csv')
test = pd.read_csv('dataset/test.csv')

In [3]:
def transf(valor):
        if valor == 'female':
            return 1
        else:
            return 0

train['Sex'] = train['Sex'].map(transf)
test['Sex'] = test['Sex'].map(transf)

In [4]:
media = np.int(train['Age'].mean())
train['Age'] = train['Age'].fillna(media)
test['Age'] = test['Age'].fillna(media)

In [30]:
train['Ticket'] = train['Ticket'].str.replace(r'\D', '')
train['Ticket'] = pd.to_numeric(train['Ticket'])

In [5]:
vari = ['Sex', 'Age', 'SibSp', 'Parch', 'Ticket']
x = train[vari]
y = train['Survived']
x = x.fillna(-1)
y = y.fillna(-1)

In [7]:
lista = train['Ticket']

contador = Counter(lista)

repetidos = [
    item for item, quantidade in contador.items() 
        if quantidade > 1
]

quantidade_repetidos = len(repetidos)

print(f'Há {quantidade_repetidos} números repetidos na lista')

Há 134 números repetidos na lista

In [72]:
# alterando quantidade de filhos
train[train['Age'] < 15]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,teste
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909.0,21.0750,NaN,S,<function <lambda> at 0x7f687d898ea0>
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736.0,30.0708,NaN,C,<function <lambda> at 0x7f687d898ea0>
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,9549.0,16.7000,G6,S,<function <lambda> at 0x7f687d898ea0>
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406.0,7.8542,NaN,S,<function <lambda> at 0x7f687d898ea0>
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652.0,29.1250,NaN,Q,<function <lambda> at 0x7f687d898ea0>
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909.0,21.0750,NaN,S,<function <lambda> at 0x7f687d898ea0>
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651.0,11.2417,NaN,C,<function <lambda> at 0x7f687d898ea0>
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,2123.0,41.5792,NaN,C,<function <lambda> at 0x7f687d898ea0>
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295.0,39.6875,NaN,S,<function <lambda> at 0x7f687d898ea0>
58,59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,34651.0,27.7500,NaN,S,<function <lambda> at 0x7f687d898ea0>
59,60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,2144.0,46.9000,NaN,S,<function <lambda> at 0x7f687d898ea0>
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088.0,27.9000,NaN,S,<function <lambda> at 0x7f687d898ea0>
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738.0,29.0000,NaN,S,<function <lambda> at 0x7f687d898ea0>
111,112,0,3,"Zabour, Miss. Hileni",female,14.50,1,0,2665.0,14.4542,NaN,C,<function <lambda> at 0x7f687d898ea0>
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082.0,31.2750,NaN,S,<function <lambda> at 0x7f687d898ea0>
125,126,1,3,"Nicola-Yarred, Master. Elias",male,12.00,1,0,2651.0,11.2417,NaN,C,<function <lambda> at 0x7f687d898ea0>
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00,2,2,6608.0,34.3750,NaN,S,<function <lambda> at 0x7f687d898ea0>
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295.0,39.6875,NaN,S,<function <lambda> at 0x7f687d898ea0>
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291.0,20.5250,NaN,S,<function <lambda> at 0x7f687d898ea0>
171,172,0,3,"Rice, Master. Arthur",male,4.00,4,1,382652.0,29.1250,NaN,Q,<function <lambda> at 0x7f687d898ea0>
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742.0,11.1333,NaN,S,<function <lambda> at 0x7f687d898ea0>
182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4,2,347077.0,31.3875,NaN,S,<function <lambda> at 0x7f687d898ea0>
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136.0,39.0000,F4,S,<function <lambda> at 0x7f687d898ea0>
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153.0,22.0250,NaN,S,<function <lambda> at 0x7f687d898ea0>
193,194,1,2,"Navratil, Master. Michel M",male,3.00,1,1,230080.0,26.0000,F2,S,<function <lambda> at 0x7f687d898ea0>
205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054.0,10.4625,G6,S,<function <lambda> at 0x7f687d898ea0>
233,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.00,4,2,347077.0,31.3875,NaN,S,<function <lambda> at 0x7f687d898ea0>
237,238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8.00,0,2,31921.0,26.2500,NaN,S,<function <lambda> at 0x7f687d898ea0>
261,262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.00,4,2,347077.0,31.3875,NaN,S,<function <lambda> at 0x7f687d898ea0>
278,279,0,3,"Rice, Master. Eric",male,7.00,4,1,382652.0,29.1250,NaN,Q,<function <lambda> at 0x7f687d898ea0>
...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,536,1,2,"Hart, Miss. Eva Miriam",female,7.00,0,2,13529.0,26.2500,NaN,S,<function <lambda> at 0x7f687d898ea0>
541,542,0,3,"Andersson, Miss. Ingeborg Constanzia",female,9.00,4,2,347082.0,31.2750,NaN,S,<function <lambda> at 0x7f687d898ea0>
542,543,0,3,"Andersson, Miss. Sigrid Elisabeth",female,11.00,4,2,347082.0,31.2750,NaN,S,<function <lambda> at 0x7f687d898ea0>
549,550,1,2,"Davies, Master. John Morgan Jr",male,8.00,1,1,33112.0,36.7500,NaN,S,<function <lambda> at 0x7f687d898ea0>
618,619,1,2,"Becker, Miss. Marion Louise",female,4.00,2,1,230136.0,39.0000,F4,S,<function <lambda> at 0x7f687d898ea0>
634,635,0,3,"Skoog, Miss. Mabel",female,9.00,3,2,347088.0,27.9000,NaN,S,<function <lambda> at 0x7f687d898ea0>
642,643,0,3,"Skoog, Miss. Margit Elizabeth",female,2.00,3,2,347088.0,27.9000,NaN,S,<function <lambda> at 0x7f687d898ea0>
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666.0,19.2583,NaN,C,<function <lambda> at 0x7f687d898ea0>
683,684,0,3,"Goodwin, Mr. Charles Edward",male,14.00,5,2,2144.0,46.9000,NaN,S,<function <lambda> at 0x7f687d898ea0>
686,687,0,3,"Panula, Mr. Jaako Arnold",male,14.00,4,1,3101295.0,39.6875,NaN,S,<function <lambda> at 0x7f687d898ea0>
691,692,1,3,"Karun, Miss. Manca",female,4.00,0,1,349256.0,13.4167,NaN,C,<function <lambda> at 0x7f687d898ea0>
720,721,1,2,"Harper, Miss. Annie Jessie ""Nina""",female,6.00,0,1,248727.0,33.0000,NaN,S,<function <lambda> at 0x7f687d898ea0>
731,732,0,3,"Hassan, Mr. Houssein G N",male,11.00,0,0,2699.0,18.7875,NaN,C,<function <lambda> at 0x7f687d898ea0>
750,751,1,2,"Wells, Miss. Joan",female,4.00,1,1,29103.0,23.0000,NaN,S,<function <lambda> at 0x7f687d898ea0>
751,752,1,3,"Moor, Master. Meier",male,6.00,0,1,392096.0,12.4750,E121,S,<function <lambda> at 0x7f687d898ea0>
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649.0,14.5000,NaN,S,<function <lambda> at 0x7f687d898ea0>
777,778,1,3,"Emanuel, Miss. Virginia Ethel",female,5.00,0,0,364516.0,12.4750,NaN,S,<function <lambda> at 0x7f687d898ea0>
780,781,1,3,"Ayoub, Miss. Banoura",female,13.00,0,0,2687.0,7.2292,NaN,C,<function <lambda> at 0x7f687d898ea0>
787,788,0,3,"Rice, Master. George Hugh",male,8.00,4,1,382652.0,29.1250,NaN,Q,<function <lambda> at 0x7f687d898ea0>
788,789,1,3,"Dean, Master. Bertram Vere",male,1.00,1,2,2315.0,20.5750,NaN,S,<function <lambda> at 0x7f687d898ea0>
802,803,1,1,"Carter, Master. William Thornton II",male,11.00,1,2,113760.0,120.0000,B96 B98,S,<function <lambda> at 0x7f687d898ea0>
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625.0,8.5167,NaN,C,<function <lambda> at 0x7f687d898ea0>
813,814,0,3,"Andersson, Miss. Ebba Iris Alfrida",female,6.00,4,2,347082.0,31.2750,NaN,S,<function <lambda> at 0x7f687d898ea0>
819,820,0,3,"Skoog, Master. Karl Thorsten",male,10.00,3,2,347088.0,27.9000,NaN,S,<function <lambda> at 0x7f687d898ea0>
824,825,0,3,"Panula, Master. Urho Abraham",male,2.00,4,1,3101295.0,39.6875,NaN,S,<function <lambda> at 0x7f687d898ea0>
827,828,1,2,"Mallet, Master. Andre",male,1.00,0,2,2079.0,37.0042,NaN,C,<function <lambda> at 0x7f687d898ea0>
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106.0,18.7500,NaN,S,<function <lambda> at 0x7f687d898ea0>
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.00,4,2,347082.0,31.2750,NaN,S,<function <lambda> at 0x7f687d898ea0>
852,853,0,3,"Boulos, Miss. Nourelain",female,9.00,1,1,2678.0,15.2458,NaN,C,<function <lambda> at 0x7f687d898ea0>
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.00,1,1,347742.0,11.1333,NaN,S,<function <lambda> at 0x7f687d898ea0>

In [67]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,teste
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,521171.0,7.2500,NaN,S,<function <lambda> at 0x7f687d898ea0>
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,17599.0,71.2833,C85,C,<function <lambda> at 0x7f687d898ea0>
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,23101282.0,7.9250,NaN,S,<function <lambda> at 0x7f687d898ea0>
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803.0,53.1000,C123,S,<function <lambda> at 0x7f687d898ea0>
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450.0,8.0500,NaN,S,<function <lambda> at 0x7f687d898ea0>
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877.0,8.4583,NaN,Q,<function <lambda> at 0x7f687d898ea0>
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463.0,51.8625,E46,S,<function <lambda> at 0x7f687d898ea0>
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909.0,21.0750,NaN,S,<function <lambda> at 0x7f687d898ea0>
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742.0,11.1333,NaN,S,<function <lambda> at 0x7f687d898ea0>
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736.0,30.0708,NaN,C,<function <lambda> at 0x7f687d898ea0>
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,9549.0,16.7000,G6,S,<function <lambda> at 0x7f687d898ea0>
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783.0,26.5500,C103,S,<function <lambda> at 0x7f687d898ea0>
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,52151.0,8.0500,NaN,S,<function <lambda> at 0x7f687d898ea0>
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082.0,31.2750,NaN,S,<function <lambda> at 0x7f687d898ea0>
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406.0,7.8542,NaN,S,<function <lambda> at 0x7f687d898ea0>
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706.0,16.0000,NaN,S,<function <lambda> at 0x7f687d898ea0>
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652.0,29.1250,NaN,Q,<function <lambda> at 0x7f687d898ea0>
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373.0,13.0000,NaN,S,<function <lambda> at 0x7f687d898ea0>
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763.0,18.0000,NaN,S,<function <lambda> at 0x7f687d898ea0>
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649.0,7.2250,NaN,C,<function <lambda> at 0x7f687d898ea0>
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865.0,26.0000,NaN,S,<function <lambda> at 0x7f687d898ea0>
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698.0,13.0000,D56,S,<function <lambda> at 0x7f687d898ea0>
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923.0,8.0292,NaN,Q,<function <lambda> at 0x7f687d898ea0>
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788.0,35.5000,A6,S,<function <lambda> at 0x7f687d898ea0>
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909.0,21.0750,NaN,S,<function <lambda> at 0x7f687d898ea0>
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077.0,31.3875,NaN,S,<function <lambda> at 0x7f687d898ea0>
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631.0,7.2250,NaN,C,<function <lambda> at 0x7f687d898ea0>
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950.0,263.0000,C23 C25 C27,S,<function <lambda> at 0x7f687d898ea0>
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959.0,7.8792,NaN,Q,<function <lambda> at 0x7f687d898ea0>
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216.0,7.8958,NaN,S,<function <lambda> at 0x7f687d898ea0>
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134.0,11.5000,NaN,S,<function <lambda> at 0x7f687d898ea0>
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466.0,25.9292,D17,S,<function <lambda> at 0x7f687d898ea0>
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,2343.0,69.5500,NaN,S,<function <lambda> at 0x7f687d898ea0>
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866.0,13.0000,NaN,S,<function <lambda> at 0x7f687d898ea0>
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852.0,13.0000,NaN,S,<function <lambda> at 0x7f687d898ea0>
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,2149.0,13.8583,NaN,C,<function <lambda> at 0x7f687d898ea0>
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,17590.0,50.4958,A24,S,<function <lambda> at 0x7f687d898ea0>
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777.0,9.5000,NaN,S,<function <lambda> at 0x7f687d898ea0>
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742.0,11.1333,NaN,S,<function <lambda> at 0x7f687d898ea0>
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248.0,7.8958,NaN,S,<function <lambda> at 0x7f687d898ea0>
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751.0,52.5542,D35,S,<function <lambda> at 0x7f687d898ea0>
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695.0,5.0000,B51 B53 B55,S,<function <lambda> at 0x7f687d898ea0>
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765.0,9.0000,NaN,S,<function <lambda> at 0x7f687d898ea0>
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,3381.0,24.0000,NaN,C,<function <lambda> at 0x7f687d898ea0>
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667.0,7.2250,NaN,C,<function <lambda> at 0x7f687d898ea0>
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534.0,9.8458,NaN,S,<function <lambda> at 0x7f687d898ea0>
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212.0,7.8958,NaN,S,<function <lambda> at 0x7f687d898ea0>
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217.0,7.8958,NaN,S,<function <lambda> at 0x7f687d898ea0>
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767.0,83.1583,C50,C,<function <lambda> at 0x7f687d898ea0>
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433.0,26.0000,NaN,S,<function <lambda> at 0x7f687d898ea0>
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257.0,7.8958,NaN,S,<function <lambda> at 0x7f687d898ea0>
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552.0,10.5167,NaN,S,<function <lambda> at 0x7f687d898ea0>
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,34068.0,10.5000,NaN,S,<function <lambda> at 0x7f687d898ea0>
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,392076.0,7.0500,NaN,S,<function <lambda> at 0x7f687d898ea0>
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652.0,29.1250,NaN,Q,<function <lambda> at 0x7f687d898ea0>
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536.0,13.0000,NaN,S,<function <lambda> at 0x7f687d898ea0>
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053.0,30.0000,B42,S,<function <lambda> at 0x7f687d898ea0>
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,6607.0,23.4500,NaN,S,<function <lambda> at 0x7f687d898ea0>
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369.0,30.0000,C148,C,<function <lambda> at 0x7f687d898ea0>
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376.0,7.7500,NaN,Q,<function <lambda> at 0x7f687d898ea0>

,Survived,Pclass,SibSp,Parch,Sex,Age,Name
Ticket,,,,,,,
347742.0,1,3,0,2,female,27.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)"
347742.0,1,3,1,1,female,1.0,"Johnson, Miss. Eleanor Ileen"
347742.0,1,3,1,1,male,4.0,"Johnson, Master. Harold Theodor"

In [47]:
df1 = train.set_index('Ticket')
d = df1[['Survived', 'Pclass', 'SibSp', 'Parch', 'Sex','Age', 'Name']].loc[repetidos]
d = d.rename(columns = {'SibSp':'Numero irmaos', 'Parch': 'Filhos a bordo'})
d.loc[347742.0]

,Survived,Pclass,Numero irmaos,Filhos a bordo,Sex,Age,Name
Ticket,,,,,,,
347742.0,1,3,0,2,female,27.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)"
347742.0,1,3,1,1,female,1.0,"Johnson, Miss. Eleanor Ileen"
347742.0,1,3,1,1,male,4.0,"Johnson, Master. Harold Theodor"

In [22]:
resul = []

kf = RepeatedKFold(n_splits=2, n_repeats=10, random_state=10)

for linhas_treino, linhas_test in kf.split(x):

    x_treino, x_valid = x.iloc[linhas_treino], x.iloc[linhas_test]
    y_treino, y_valid = y.iloc[linhas_treino], y.iloc[linhas_test]

    modelo = DecisionTreeClassifier(max_depth=4)
    modelo.fit(x_treino, y_treino)

    p = modelo.predict(x_valid)

    acc = np.mean(y_valid == p)
    
    resul.append(acc)
    print("Acuracia: ", acc)

Acuracia:  0.8183856502242153
Acuracia:  0.7707865168539326
Acuracia:  0.8161434977578476
Acuracia:  0.7685393258426966
Acuracia:  0.8026905829596412
Acuracia:  0.797752808988764
Acuracia:  0.7937219730941704
Acuracia:  0.8
Acuracia:  0.8071748878923767
Acuracia:  0.8112359550561797
Acuracia:  0.7937219730941704
Acuracia:  0.8179775280898877
Acuracia:  0.8318385650224215
Acuracia:  0.7640449438202247
Acuracia:  0.8139013452914798
Acuracia:  0.7842696629213484
Acuracia:  0.8228699551569507
Acuracia:  0.7775280898876404
Acuracia:  0.8004484304932735
Acuracia:  0.802247191011236

In [23]:
np.mean(resul)

0.7997639441729228

In [ ]:
x_valid_check = train.iloc[linhas_test].copy()
x_valid_check['p'] = p
x_valid_check[['Survived', 'p']].head()

In [ ]:
modelo.fit(x,y)

In [ ]:
p_class = modelo.predict(test[vari].fillna(-1))

In [ ]:
tree_sub = pd.Series(p_class, index= test['PassengerId'], name='Survived')
tree_sub.to_csv("modelo_dectree1.csv", header=True)